@{
    ViewData["Title"] = "Welcome";
}

<h1>Welcome to Tiger King Pet Shop!</h1>
<h1>@ViewData["test"]</h1>

<div>
    <input class="btn btn-light btn-outline-dark" type="button" value="Login" onclick="location.href='@Url.Action("Login","Welcome")'" />
    <input class="btn btn-light btn-outline-dark" type="button" value="Registration" onclick="location.href='@Url.Action("Registration","Welcome")'" />
</div>
