@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div class="list-group">

            <a class="list-group-item list-group-item-action font-weight-bolder list-group-item-light" asp-action="Location">Make An Order</a>
            <a class="list-group-item list-group-item-action font-weight-bolder list-group-item-light" asp-action="SearchUserByName">Search User By Name</a>
            <a class="list-group-item list-group-item-action font-weight-bolder list-group-item-light" asp-action="OrderHistoryByLocation">Search Order By Location</a>

        </div>
    </div>
