@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div class="list-group">

            <a class="list-group-item text-dark list-group-item-action font-weight-bolder list-group-item-light" asp-action="Location"><h4>Make An Order</h4></a>
            <a class="list-group-item text-dark list-group-item-action font-weight-bolder list-group-item-light" asp-action="SearchUserByName"><h4>Search User By Name</h4></a>
            <a class="list-group-item text-dark list-group-item-action font-weight-bolder list-group-item-light" asp-action="OrderHistoryByLocation"><h4>Search Order By Location</h4></a>

        </div>
    </div>
