@model IEnumerable<Project1.Domain.StoreLocation>
@{
    ViewData["Title"] = "Location";
}

<h1>Locations</h1>



        @foreach (var item in Model)
        {

                    <a class="nav-link text-dark list-group-item list-group-item-action text-center" asp-area="" asp-controller="Home" asp-action="Items"
                       asp-route-id="@item.StoreLocationId"><h4>@Html.DisplayFor(modelItem => item.Location)</h4></a>

        }
<br />
<input class="btn btn-light btn-outline-dark" type="button" value="Back" onclick="location.href='@Url.Action("Index","Home")'" />
