
@{
    ViewData["Title"] = "Purchase Complete";
}


    <div class="jumbotron">
        <h1 class="display-4">Order Placed!</h1>
        <p class="lead">Your pet should arrive within the next few days!</p>
        <hr class="my-4">
        <p>If you would like to make more orders please select back below to view other pets and locations!</p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Index","Home")'" role="button">Back</a>
        </p>
    </div>



